.fondo {
    background-color: #E5E8ED;
}

.content {
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content .body-c {
    flex-grow: 1;
    height: 0;
}

.text_primary {
    color: #082c50;
}

.text_warning {
    color: #ffb414;
}

.btn_warning {
    background: rgb(255, 180, 20);
    /*background: linear-gradient(100deg, rgba(255, 180, 20, 1) 40%, rgba(255, 129, 24, 1) 91%);*/
    /*box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;*/
    border-radius: 6px;
}

.btn_warning:hover {
    background: var(--yellow);
    color: white;
}

.btn_warning:active {
    background: black;
}


.btn_primary {
    color: white;
    background: rgb(8, 44, 80);
    background: linear-gradient(100deg, rgba(8, 44, 80, 1) 24%, rgba(25, 68, 102, 1) 100%);
    border: 0;
}

.btn_primary:hover {
    color: #fff;
    background: linear-gradient(100deg, rgba(37, 99, 151, 1) 0%, rgba(37, 99, 151, 1) 100%);
}

.oculto {
    display: none;
}

/* input,
span,
textarea,
.button {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
} */

.info_title {
    font-size: 20px;
    margin:0;
    color: #3f3f3f;
}

.container_content {
    height: 80%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 40px;
    border-radius: 10px;
}

.image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_form {
    width: 100%;
}

.card {
    height: 90%;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.header-c .btn i,
.content .header-c .btn img {
    display: none;
}


/* -------------------------------------------------------------------- QUERIES */
@media (max-width: 992px) and (max-height: 576px),
(max-width: 576px) {
    .content {
        padding: 0 !important;
    }

    .content .body-c {
        height: 100%;
    }

    .content >* {
        padding: 0 15px;
    }

    .content .navbar {
        padding: 10px 15px;
        display: flex;
        background: var(--blue-dark);
        color: white;
        margin-bottom: 10px;
    }

    .content .navbar-btn {
        font-size: 38px;
        width: 40px;
        height: 40px;
        border-radius: 0;
        display: flex;
        align-items: center;
    }

    .header-c .row:last-child {
        position: relative;
        margin-bottom: .5rem !important;
    }

    .header-c .he-title h1 {
        font-size: 22px;
        margin-bottom: 0;
    }

    .header-c .info_title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .header-c .btn-float {
        position: fixed;
        width: 0;
        display: flex !important;
        flex-direction: column;
        right: 18px;
        bottom: 10px;
        z-index: 3;
    }

    .header-c .btn {
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-c .btn:first-child {
        margin-right: 0 !important;
        margin-bottom: 10px;
    }

    .header-c .btn i,
    .header-c .btn img {
        display: block !important;
    }

    .header-c .btn img {
        width: 80%;
    }

    .header-c .btn:last-child {
        padding: 0 .5rem;
    }

    .header-c .btn .text-bt {
        position: absolute;
        width: max-content;
        background: var(--blue);
        padding: 2px 8px;
        border-radius: 4px;
        right: 40px;
        animation: slideLeft 5s ease forwards;
    }

    /*Desplazamiento a la izquierda para retroalimentar al usuario de los botones en pantallas de cell*/
    @keyframes slideLeft {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        90% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
            transform: translateX(-100%);
            display: none;
        }
    }

    .body-c {
        width: 100%;
        padding: 0;
    }

    .content .user_img {
        width: 40px;
        height: 40px;
        margin: 0;
    }

    .content-project {
        border-radius: 0 !important;
    }


}