.container_content {
    position: relative;
}

.data-container {
    padding: 10px;
    overflow-y: auto;
    display: none;
    position: relative;
}

#data-modal {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1;
}

.data-container > form span {
    cursor: pointer;
    display: block;

}

.data-container > form input,
.data-container > form span.mb-2 {
    font-weight: bold;
    font-size: calc(1.325rem + .1vw);
}

.data-container > form input:focus {
    font-weight: normal;
}

.data-container > form input,
.data-container > form textarea {
    display: none;
}

.data-container > form textarea {
}

.data-files tbody td:last-child,
.data-files tbody td form {
    display: flex;

}

.data-files tbody td span,
.data-files tbody td > i {
    cursor: pointer;
}

.data-files tbody td > i {
    display: none;
    margin-left: 5px;
}

.data-files tbody td:hover > i {
    color: red;
    display: block;
}

.data-files tbody td.showing:hover > i {
    display: none;
    color: white;
}

.data-files tbody td > i:active {
    color: var(--blue-dark);
}



.data-files .td-form {
    display: none;
}

.data-files .td-form form {
    align-items: center;
}

.td-form form .form-control {
    padding: 0 .75rem;
}

.data-files .td-form.form-display {
    display: block;
}

.data-files input,
.data-files button {
    border-radius: 25px;
}

.data-files form button {
    width: 41px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
}

.data-files form i {
    font-size: 20px;
}

.data-files .img-folder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-files .img-folder img {
    width: 30%;
    margin-bottom: 10px;
}

.data-files .img-folder p {
    font-size: 1.25em;

}

.table_container {
    height: 100%;
    overflow-y: auto;
    display: none;
}

.table_container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /*background: var(--blue-dark);*/
}

/*.table_container::-webkit-scrollbar-track {*/
/*    background: #f1f1f1;*/
/*    !* Color de fondo de la pista de desplazamiento *!*/
/*    border-radius: 10px;*/
/*    !* Borde redondeado de la pista de desplazamiento *!*/
/*}*/

.table_container::-webkit-scrollbar-thumb {
    background: #194466;
    /* Color del pulgar de la barra de desplazamiento */
    border-radius: 4px;
    /* Borde redondeado del pulgar de desplazamiento */
}

.table_container::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-dark-re);
    /* Color del pulgar de la barra de desplazamiento al pasar el ratón */
}

.table_container.table-display,
.data-container.table-display {
    display: block;
}

.container_content > button.btn {
    position: absolute;
    font-size: 30px;
    top: 34px;
    right: 34px;
    padding: 0;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
}

.container_content > button.btn:hover,
.table_container:hover ~ .btn {
    opacity: 1;
    visibility: visible;
}

.table_container table tbody th,
.table_container table tbody td {
    height: 70px;
}



span svg {
    color: #194466;
}

.modal_title {
    margin: 0 0 0 40px;
}

.modal_close {
    margin: 0 50px 0 -50px;
}

.btn_subirfoto {
    background-color: #194466;
    color: white;
}


.row .col-3 {
    height: 100%;
}

.container_files {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    border-right: 2px solid #ddd;
}

.container_files::-webkit-scrollbar {
    width: 5px;
    /* Tamaño de la barra de desplazami
    /* Color de fondo de la barra de desplazamiento */
}

.container_files::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color de fondo de la pista de desplazamiento */
    border-radius: 10px;
    /* Borde redondeado de la pista de desplazamiento */
}

.container_files::-webkit-scrollbar-thumb {
    background: #082c50;
    /* Color del pulgar de la barra de desplazamiento */
    border-radius: 2px;
    /* Borde redondeado del pulgar de desplazamiento */
}

.container_files::-webkit-scrollbar-thumb:hover {
    background-color: #082c50;
    /* Color del pulgar de la barra de desplazamiento al pasar el ratón */
}

.container_files .img-folder {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_files .img-folder img {
    width: 55%;
    margin-bottom: 5px;
}

.container_files .img-folder p {
    font-size: 1.25em;
    user-select: none; /* Evita que la imagen sea arrastrable */
}

.title-list {
    cursor: default;
    display: block;
    border-radius: 20px;
    padding: .5rem;
    width: 95%;
}

.title-list:hover {
    background-color: #E5E8ED;
    cursor: pointer;
}

.list-group {
    border: 0;
    border-radius: 0;
    height: auto;
    overflow-y: auto;
    flex: 1;
}

.list-item {
    position: relative;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    margin: .5rem;
    border-radius: 20px;
}

.list-item-title {
    width: 80%;
    overflow: hidden;
    border-radius: 20px;
}

.list-item h5 {
    margin: .5rem .5rem .5rem 1rem;
    width: max-content;
    transition: transform 2.4s;
    font-size: calc(1rem + .1vw);
}

.list-item-delete {
    position: absolute;
    top: 6px;
    right: 30px;
}

.list-item-delete > button {
    opacity: 0;
    visibility: hidden;
}

.list-item:hover,
.active_list {
    background-color: #E5E8ED;
    color: #082c50;
}

.active_list {
    font-weight: bolder;
}

.list-item-title h5.overflowing {
    transform: translateX(-75%);
}

.list-item:hover button {
    opacity: 1;
    visibility: visible;
}

.list-item-delete > button.btn_primary {
    position: absolute;
    padding: 0 4px;
    border-radius: 50%;
}

.list-item .box-dialog {
    position: absolute;
    right: -24px;
    width: 130px;
    height: 80px;
    gap: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.82);
    border-radius: 6px;
    display: none;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.list-item .box-dialog.show-box {
    display: flex;
}

.list-item .box-dialog:hover {
    background: rgba(255, 255, 255, 1);
}

.list-item .box-dialog span {
    font-weight: bold;
    white-space: nowrap;
}

.box-dialog .box-options button {
    width: 50px;
    border-radius: 25px;
}

/*UTILS ------------------------------------------------------------------------------------------------------*/
.div-hidden {
    display: none !important;
}


.info-autosave p:last-child,
.info-guide .cell {
    display: none !important;
}

.info-guide .desktop,
.info-guide .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.info-guide img {
    width: 90%;
}

.info-guide img:last-child {
    display: block !important; /* Mostramos la última porque en el anterior lo ocultamos */
}

/* DROP ZONE ------------------------------------------ */
#drop-zone {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

#drop-zone .blur {
    font-size: 2em;
}

#drop-zone.is-active .blur {
    z-index: 2;
}



/*QUERIES ----------------------------------------------------------------------------------------*/

@media (max-width: 768px) {
    .header-c button i {
        font-size: 2.2em !important;
    }

    .container_content {
        flex-direction: column;
        max-height: 100%;
        overflow: auto;
        padding: 20px 0;
    }

    .data-container {
        padding: 10px 10px 80px 10px;
    }

    .data-container form input {
        width: 88%;
    }

    .container_content > button.btn {
        top: 140px;
        right: 32px;
    }

    .container_files {
        width: 100%;
        padding: 0 14px;
        border-right: none;
        border-bottom: 2px solid #ddd;
    }

    .title-list {
        width: 85%;
    }

    .header-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-list button {
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 10%;
        margin-left: 5%;
        border-radius: 50%;
    }

    .list-group {
        max-height: 0;
        overflow: hidden;

        transition: max-height .3s;
        /* Oculta la lista en pantallas pequeñas */
    }

    #fileList.show-list {
        max-height: 180px;
        overflow-y: auto;
    }

    .dropdown {
        display: block;
        /* Muestra el select en pantallas pequeñas */
    }




    /*Utils*/
    .info-autosave p:last-child {
        display: block !important;
    }

    .info-guide .cell {
        display: flex !important;
    }

    .info-autosave p:first-child,
    .info-guide .desktop {
        display: none;
    }

    .container_files .img-folder {
        display: none !important;
    }

}

@media (max-height: 768px) {
    .container_content {
        max-height: 100%;
    }
}