{% extends 'Project/base_project.html' %}
{% load static %}


{% block cssCustoms2 %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
    
    <link rel="stylesheet" href="{% static "css/reporte.css" %}">
{% endblock %}


<!-- contenido de la pagina -->
{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col col-10 d-flex align-items-center">
                    <a type="button" class="btn btn-back me-2" href="{{ previous_page_url }}"><i class="bi bi-arrow-left"></i></a>
                    <h2 class="mb-0">REPORTE DE PROYECTO</h2>
                </div>
	            {% if object.id_project.prj_autosave == False %}
	            	<div class="col col-2 h4 d-flex justify-content-end mb-0">
                        <button type="button" class="btn-close" data-bs-toggle="modal"
                                data-bs-target="#modal-saveproject" ></button>
                    </div>
	            {% else %}
		            <div class="col col-2 h4 d-flex justify-content-end mb-0">
                        <a href="{% url 'list_projects' %}" type="button" class="btn-close"></a>
                    </div>
	            {% endif %} 
                
            </div>
        </div>
        <div class="card-body">

            <div class="container-fluid cont-report">

{#        ------------------------------------------- HEADER DEL CONTAINER -------------------------------------------#}
                <div class="row" style="flex: 0;">
                    <div class="col mb-3">
                        <h5 class="card-title">{{ object.id_project.prj_name }}</h5>
                        <p class="card-text">Informe de los resultados del procesamiento.</p>
                    </div>
                </div>


{#        ------------------------------------------- BODY DEL CONTAINER -------------------------------------------#}
                <div class="row scrollable-row scroll-styled" style="flex: 1 0 0;">

    {#                ---------------------------- GRÁFICA DE REPORTE ----------------------------#}
                    <div class="col-12 col-lg-7 container_pastel">

                        <div class="row">
                            <div class="col">
                                <div class="box-metrics">
                                    <h4 class="text-center">Tipos de entradas</h4>
                                    <svg></svg>
                                </div>
                            </div>
                        </div>

                    </div>

    {#                ---------------------------- MÉTRICAS DE REPORTE ----------------------------#}
                    <div class="col-12 col-lg-5 container_metrics">

                        <div class="row">
                            <div class="col">
                                <div class="box-metrics">
                                    <p>Articulos de archivos</p>
                                    <i class="bi bi-file-earmark-text-fill"></i>
                                    <h1 class="text-center valores">{{ object.rep_n_articles_files }}</h1>
                                </div>
                            </div>

                            <div class="col">
                                <div class="box-metrics bg_primary">
                                    <p>Artículos procesados</p>
                                    <i class="bi bi-file-earmark-check-fill"></i>
                                    <h1 class="text-center valores">{{ object.rep_n_processed }}</h1>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <div class="box-metrics">
                                    <p>Articulos Duplicados</p>
                                    <i class="bi bi-files"></i>
                                    <h1 class="text-center valores">{{ object.rep_n_duplicate }}</h1>
                                </div>
                            </div>

                            <div class="col">
                                <div class="box-metrics">
                                    <p>Archivos integrados</p>
                                    <i class="bi bi-folder-fill"></i>
                                    <h1 class="text-center valores">{{ object.rep_n_files }}</h1>
                                </div>
                            </div>
                        </div>


    {#                    ---------------------------- CAJA DEL BOTÓN DE DESCARGA ----------------------------#}

                        <div class="row">
                            <div class="col">
                                <div class="box-metrics" id="box-download">
                                    <div class="row">

                                        <div class="col-12 col-xl-8 my-1 my-xl-auto">

                                            <div class="row">
                                                <div class="col img-file">
                                                <svg viewBox="91.758 41.85 326.107 413.488" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M 168.558 41.973 L 297.076 41.973 L 297.076 41.85 L 417.865 158.612 L 417.796 158.612 L 417.796 381.189 C 417.796 407.526 396.445 428.877 370.108 428.877 L 361.823 428.877 L 361.823 399.525 C 377.291 396.656 389.004 383.093 389.004 366.793 L 389.004 158.612 L 317.053 158.612 C 304.571 156.547 297.912 148.656 297.076 134.938 L 297.076 70.765 L 182.954 70.765 C 164.567 70.765 149.662 85.67 149.662 104.057 L 149.662 309.043 L 120.87 309.043 L 120.87 89.661 C 120.87 63.324 142.221 41.973 168.558 41.973 Z" style="stroke: rgb(0, 0, 0); stroke-width: 0px;"></path>
                                                    <text style="font-family: Arial, sans-serif; font-size: 133.8px; font-weight: 700; letter-spacing: 9.6px; white-space: pre;" x="91.758" y="427.338">BIB</text>
                                                </svg>
                                                </div>
                                                <div class="col col-9 info-merged">
                                                    <div class="name-merged"><strong>Datos de proceso:</strong></div>
                                                    <div class="time-process">Duración: <strong>{{ object.get_formated_duration }}</strong></div>
                                                    <div class="size-file">Tamaño: <strong>{{ object.get_size }}</strong></div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-12 col-xl-4 my-2 my-xl-auto d-flex justify-content-center align-items-center">
                                            <a id="btn-download" class="btn btn_warning col-9 col-xl" href="{{ object.get_file_url }}" download>
                                                <i class="bi bi-download me-2"></i>
                                                <p>Descargar</p>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>

                </div>



{#        ------------------------------------------- FOOTER DEL CONTAINER -------------------------------------------#}
                {% if object.id_project.prj_autosave == False %}
                	<div class="row" style="flex: 0;">
                        <div class="col my-2 d-flex justify-content-end">
                            <button class="btn btn_warning" data-bs-toggle="modal"
                                data-bs-target="#add_project">
                                <i class="bi bi-floppy2-fill"></i>
                                Guardar proyecto
                            </button>
                        </div>
                    </div>
                {% endif %}
            
            </div>

        </div>
    </div>
{% endblock %}

<!-- Modal's -->

{% block modals %}
	<!-- Modal Guardar Proyecto?  -------------------------------------------------------------------------->
    <div class="modal fade" id="modal-saveproject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">

                <i class="bi bi-archive"></i>
                <h1 class="modal-title fs-4" id="exampleModalLabel">¿Desea guardar el proyecto?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <div class="modal-body">

                <div class="info-autosave">
                    <p>Al <strong>Guardar</strong> el proyecto se guardará toda la información relacionada con el proyecto.</p>

                    <p>Si decide <strong>Eliminar</strong>, perderá toda la información que esté relaciona</p>
                </div>



            </div>

            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn_primary" data-bs-toggle="modal"
                                data-bs-target="#add_project">Guardar</button>
	            <form method="post" action="{% url 'delete_project' object.id_project.id %}" data-success-url="{% url 'list_projects' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" id="delete-project">Borrar</button>
                </form>

            </div>
        </div>
        </div>
    </div>
    <!-- Modal CREAR Proyecto  -------------------------------------------------------------------------->
    <div class="modal fade" id="add_project" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <i class="bi bi-folder-plus"></i>
                <h1 class="modal-title fs-3" id="staticBackdropLabel">Nuevo Proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <div class="modal-body d-flex justify-content-center">

                <div class="col col-11">
                    <form action="{% url 'update_project' object.id_project.id %}" data-success-url="{% url 'list_projects' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-floating mt-3 mb-3">
                            <input name="prj_name" type="text" class="form-control" id="titleProject" minlength="10" maxlength="50" required placeholder="Nombre del proyecto">
                            <label for="titleProject">Nombre del proyecto</label>
                        </div>

                        <div class="form-floating mt-3 mb-3">
                            <textarea name="prj_description" class="form-control" placeholder="Dale una descripción a tu proyecto" id="textProject" style="height: 100px"></textarea>
                            <label for="textProject">Descripción de proyecto</label>
                        </div>

                        <input hidden class="form-check-input" name="prj_autosave" id="prj_autosave" type="checkbox" checked>
                        <label hidden class="form-check-label" for="prj_autosave"></label>

                        <button hidden id="submit-btn" type="submit"></button>
                    </form>
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary col-3" onclick="createProject()">Crear</button>
            </div>
        </div>
        </div>
    
        <div id="modalAlertPlaceholder2"></div>
    </div>
{% endblock modals %}

{% block js %}
    <a id="report" type="application/json">
    {{ object.get_count_types|json_script:"report" }}
    </a>
    <script>
        var var_dataReport = JSON.parse(document.getElementById('report').textContent);
    </script>
    
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{% static "js/menu.js" %}"></script>
    <script src="{% static "js/bar_report.js" %}"></script>
    <script src="{% static "js/fetch_report.js" %}"></script>
{% endblock js %}