{% extends 'Project/base_project.html' %}
{% load static %}


{% block cssCustoms2 %}
    <link rel="stylesheet" href="{% static "css/gestion_project.css" %}">
    <link rel="stylesheet" href="{% static "css/loader.css" %}">
{% endblock %}


<!-- contenido de la pagina -->
{% block content %}
    <div class="header-c">
        <div class="row">
            <div class="col-md he-title">
                <h2>{{ object.prj_name }}</h2>
            </div>
        </div>
        <div class="row mb-3 d-flex align-items-center">
            <div class="col-md">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'list_projects' %}">Mis proyectos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ object.prj_name }}</li>
                  </ol>
                </nav>
            </div>
            <div class="col d-flex justify-content-end align-items-center btn-float">
                <button class="btn btn_primary me-2 col-auto fw-bold"
                    onclick="document.getElementById('fileInput').click()">
                    <i class="bi bi-plus"></i>
                    <div class="text-bt">
                        Añadir Archivo
                    </div>
                    {% csrf_token %}
                    <input data-action="{% url 'add_files_project' object.id %}" id="fileInput" type="file" accept=".bib" hidden multiple />
                </button>
                <a class="btn btn_warning col-auto fw-bold" id="btn-process" href="{% url 'process' object.id %}">
                    <i class="bi bi-stars"></i>
                    <div class="text-bt">
                        Procesar
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Contenido de la pagina -->
    <div class="body-c">
        <div class="container_content d-flex flex-column flex-md-row">


            <div class="col-12 col-md-3 container_files border-2">
                <div class="header-list">
                    <b class="title-list active_list">Archivos</b>
                    <button class="btn btn_primary" style="display: none;"><i class="bi bi-chevron-down"></i></button>
                </div>

                <div class="modal-body scroll-styled" id="drop-zone">
                    <div class="blur"><p data-action="{% url 'add_files_project' object.id %}">Arrastre archivos aquí</p></div>

                    <ul id="fileList" class="list-group p-2 scroll-styled" data-action-delete="{% url 'delete_projectfiles' 1 %}" >
                        {% for project_file in project_files %}
                            <li class="list-item" data-file-id="{{ project_file.id }}">
                                <div class="list-item-title">
                                    <h5>{{ project_file.name_file }}</h5>
                                </div>
                                <div class="list-item-delete">
                                    <button class="btn btn_primary"><i class="bi bi-x"></i></button>
                                    <div class="box-dialog">
                                        <span>Deseas borrar?</span>
                                        <div class="box-options">
                                            <button data-action="{% url 'delete_projectfiles' project_file.id %}" class="btn btn_primary">Si</button>
                                            <button class="btn btn_primary">No</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="img-folder {% if project_files %}div-hidden{% endif %}">
                        <img src="{% static 'img/utils/empty_folder.svg' %}" alt="Carpeta vacía">
                        <p  style="text-align: center;">Arrastra archivos aquí</p>
                    </div>

                </div>

            </div>

            <div class="col data-container scroll-styled table-display">

                <button class="btn btn_primary" data-bs-toggle="modal" id="data-modal"
                        data-bs-target="#modal-info-forms"><i class="bi bi-question-lg"></i></button>

                <form action="{% url 'update_project' object.id %}" method="POST">
                    <div class="position-relative" style="width: 92%">
                        <span class="mb-2">{{ object.prj_name }}</span>
                        <input class="form-control mb-2" name="prj_name" type="text" placeholder="Nombre del proyecto" aria-label="Nombre del proyecto" value="{{ object.prj_name }}" minlength="10" required maxlength="50">
                        <div class="invalid-tooltip">
                            No puede tener menos de 10 caracteres.
                        </div>
                    </div>

                    <div class="position-relative">
                        <span class="mb-4">{% if object.prj_description %}{{ object.prj_description }}{% else %}Sin descripción{% endif %}</span>
                        <textarea class="form-control mb-2" name="prj_description" placeholder="Descripción del proyecto" aria-label="Descripción del proyecto" id="textProject">{{ object.prj_description }}</textarea>
                    </div>


                    {% csrf_token %}
                    <button id="submit-btn" class="btn btn_primary disabled mb-3" type="submit">Guardar Cambios</button>
                    <button class="btn btn_warning disabled mb-3" type="button">Deshacer Cambios</button>
                </form>


                
                <div class="data-files mt-2">
                    <h5>Archivos</h5>

                    <table class="table {% if not project_files %}div-hidden{% endif %}">

                      <thead>
                        <tr>
                          <th class="col-3 col-md-4" scope="col">Nombre</th>
                          <th data-action="{% url 'edit_var_projectfiles' 1 %}" class="var" scope="col">Variable</th>
                        </tr>
                      </thead>

                      <tbody>
                      {% for file in project_files %}
                        <tr>
                          <td>{{ file.name_file }}</td>
                          <td class="var-form tr-{{ file.id }}">
                              <span>{% if file.search_criteria == 'N/A' or file.search_criteria == '' %}N/A{% else %}{{ file.search_criteria }}{% endif %}</span>
{#                              <i class="bi bi-x-circle" onclick="resetSpanVar(this)"></i>#}
                              <div class="td-form">
                                  <form class=" ms-2" action="{% url 'edit_var_projectfiles' file.id %}" method="POST">
                                    {% csrf_token %}
                                      {% if file.search_criteria != 'N/A' %}
                                        <input class="form-control me-2" name="pf_search_criteria" type="text" placeholder="N/A" aria-label="Variable" value="{{ file.search_criteria }}">
                                      {% else %}
                                        <input class="form-control me-2" name="pf_search_criteria" type="text" placeholder="N/A" aria-label="Variable">
                                      {% endif %}
                                    <button class="btn btn_primary me-2 btn-submit" type="submit">
                                        <i class="bi bi-check"></i>
                                    </button>
                                    <button class="btn btn_primary btn-cancel" type="button">
                                        <i class="bi bi-x"></i>
                                    </button>
                                </form>
                              </div>
                          </td>
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>

                    <div class="img-folder {% if project_files %}div-hidden{% endif %}">
                        <img src="{% static 'img/utils/empty_folder.svg' %}" alt="Carpeta vacía">
                        <p>Sin archivos</p>
                    </div>

                </div>

            </div>

            {% for entries in all_entries %}
            <div class="col table_container" id="table{{ entries.0.id_project_files_id }}">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Título</th>
                            <th scope="col">Autores</th>
                            <th scope="col">Año</th>
                            <th scope="col">Keywords</th>
                            <th scope="col">Revista</th>
                            <th scope="col">Volumen</th>
                            <th scope="col">Número</th>
                            <th scope="col">Páginas</th>
                            <th scope="col">DOI</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for entry in entries %}
                        	<tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ entry.pfe_title }}</td>
                                <td>{{ entry.pfe_authors }}</td>
                                <td>{{ entry.pfe_year }}</td>
                                <td>{{ entry.pfe_keywords }}</td>
                                <td>{{ entry.pfe_journal }}</td>
                                <td>{{ entry.pfe_volume }}</td>
                                <td>{{ entry.pfe_number }}</td>
                                <td>{{ entry.pfe_pages }}</td>
                                <td>{{ entry.pfe_doi }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}


            <button class="btn btn_primary close-content"><i class="bi bi-x"></i></button>

        </div>

    </div>

{% endblock %}

{% block modals %}
	<!-- Modal para verificar la eliminación del archivo -->
        <div class="modal fade" id="eliminar_archivo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-warning text-dark">
                        <h4 class="modal-title w-100 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                            </svg>
                            Seguro que deseas eliminar el archivo?
                        </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-light text-dark pe-5 ps-5">
                        <div id="passwordHelpBlock" class="form-text">
                            Esta acción eliminará el archivo <strong>FAFAFAF.bib</strong> y todos los artículos
                            relacionados.
                            Esta operación no se puede deshacer.
                        </div>
                    </div>
                    <div class="modal-footer bg-light d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary col-3" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger col-3">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    
    
    <!-- Modal PARA GUÍA DE EDICIÓN DE PROYECTOS --------------------------------------------------------->

    <div class="modal fade" id="modal-info-forms" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">

                <h1 class="modal-title fs-4" id="exampleModalLabel">Guía para el Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <div class="modal-body">

                <p>Bienvenido a la mini guía para <strong>editar datos del proyecto</strong>.</p>
                <div class="info-autosave">
                    <p>Si quieres cambiar el título, descripción o alguna variable de un archivo, solo
                        <strong>haz doble click en el texto:</strong></p>
                    <p>Si quieres cambiar el título, descripción o alguna variable de un archivo, solo
                        <strong>mantén presionado en el texto:</strong></p>
                </div>


                <div class="info-guide">

                    <div class="desktop">
                        <img src="{% static 'img/utils/form_guide.png' %}" alt="Guía para editar proyecto.">
                        <p class="my-2">Se te habilitará para poder editar tal como se muestra:</p>
                        <img src="{% static 'img/utils/form_guide_2.png' %}" alt="Guía para editar proyecto habilitado.">
                    </div>

                    <div class="cell">
                        <img src="{% static 'img/utils/form_guide.png' %}" alt="Guía para editar proyecto.">
                        <p class="my-2">Se te habilitará para poder editar tal como se muestra:</p>
                        <img src="{% static 'img/utils/form_guide_2.png' %}" alt="Guía para editar proyecto habilitado.">
                    </div>

                </div>


            </div>

            <div class="modal-footer">
{#                <button type="button" class="btn btn-primary">No volver a mostrar</button>#}
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
        </div>
    </div>
    
    <div class="blur-shadow">
        <span class="loader"></span>
    </div>
{% endblock %}



{% block js %}
    <script src="{% static "js/menu.js" %}"></script>
    <script src="{% static "js/utils.js" %}"></script>
    <script src="{% static "js/gestion_proyecto.js" %}"></script>
{% endblock js %}