{% extends 'Project/base_project.html' %}
{% load static %}


{% block cssCustoms2 %}
    <link rel="stylesheet" href="{% static "css/list_projects.css" %}">
    <link rel="stylesheet" href="{% static "css/loader.css" %}">
{% endblock %}


<!-- contenido de la pagina -->
{% block content %}
    <div class="header-c">
        <div class="row">
            <div class="col-md he-title">
                <h2>MIS PROYECTOS</h2>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md">
                <p class="info_title">Listado de proyectos creados.</p>
            </div>
            <div class="col d-flex justify-content-end align-items-center btn-float">
                <button id="callFileUploader" class="btn btn_primary me-2 col-auto fw-bold" data-bs-toggle="modal"
                    data-bs-target="#añadir_manual">
                    <i class="bi bi-lightning-charge-fill"></i>
                    <div class="text-bt">
                        Procesa ya
                    </div>
                </button>
                <button class="btn btn_warning col-auto fw-bold" data-bs-toggle="modal" data-bs-target="#add_project">
                    <img src="{% static 'img/utils/plus.svg' %}" alt="+">
                    <div class="text-bt">
                        Nuevo Proyecto
                    </div>
                </button>
            </div>
        </div>
    </div>
    <!-- Contenido de la pagina -->
    <div class="body-c">
        <div class="content-project">

            <div class="ct-body">
                <div class="row header">
                    <div class="col-r col1">Nombre del proyecto</div>
                    <div class="col-r col2 d-flex justify-content-center">N. Artículos</div>
                    <div class="col-r col3 d-flex justify-content-center">Fecha</div>
                    <div class="col-r col4 d-flex justify-content-end">Opciones</div>
                </div>

                <div class="row body scroll-st scroll-style">
                    <div class="items">
                    {% csrf_token %}
                        <!-- Un blur para cuando se active un menu-options -->
                        <div class="blur-section-item"></div>

                        {% for object in object_list %}
                        	<div class="item {% if object.prj_autosave == False %}item-{{ object.prj_autosave }}{% endif %}" data-project-id="{{ object.id }}">

                                <a class="col1" href="{% url 'edit_project' object.id %}">
                                    <span class="title-pj">{{ object.prj_name }}</span>
                                </a>

                                <div class="col2">
                                    {% if object.prj_autosave == False %}
                                        <div class="options option-info">
                                             <button class="btn info-modal-autosave" data-bs-toggle="modal" data-bs-target="#modal-autosave">
                                                <i class="bi bi-exclamation-lg"></i>
                                                <span class="text">Info</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                    <div class="row1">
                                        <div class="text col1">
                                            <div class="num-pj">{{ object.get_last_report.rep_n_articles_files }}</div>
                                        </div>

                                        <div class="text col2">
                                            <div class="date-pj">{{ object.prj_date|date:"d-m-Y" }}</div>
                                        </div>

                                        <div class="menu-options col3">
                                            <button class="btn btn-options" onclick="showOptions(this)">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>


                                            <div class="options">
                                                <div class="dropdown-option">
                                                    <a class="btn btn-bar btn-down {{ object.get_last_report.disabled }}" href="">
                                                        <i class="bi bi-clipboard2-data-fill"></i>
                                                        <span class="text">Ver reportes</span>
                                                    </a>
                                                    <a class="btn btn-bar {{ object.get_last_report.disabled }}" href="{% url 'report_detail' object.get_last_report.id  %}">
                                                        <i class="bi bi-bar-chart-line-fill"></i>
                                                        <span class="text">Ver último reporte</span>
                                                    </a>
                                                </div>

                                                <a class="btn btn-download {{ object.get_last_report.disabled }}" href="{{ object.get_last_report.rep_name_file_merged }}">
                                                    <i class="bi bi-file-earmark-arrow-down-fill"></i>
                                                    <span class="text">Descargar merged</span>
                                                </a>

                                                <!-- Si el item no está guardado (False) se presenta un visto -->
                                                <button class="btn btn-checksave" data-project-id="{{ object.id }}" data-project-url="{% url 'autosave_project' object.id %}" onclick="saveProject(this)">
                                                    <i class="bi bi-check"></i>
                                                    <span class="text">Guardar</span>
                                                </button>

                                                <button class="btn btn-trash" data-bs-toggle="modal" data-bs-target="#delete-project" data-project-id="{{ object.id }}" data-project-url="{% url 'delete_project' object.id %}" onclick="showDeleteModal(this)">
                                                    <i class="bi bi-trash-fill"></i>
                                                    <span class="text">Eliminar</span>
                                                </button>

                                            </div>
                                        </div>

                                    </div>



                                    <div class="row2 scroll-st scroll-style">
                                        <div class="text">
                                            <div class="desc-pj">{{ object.prj_description }}</div>
                                        </div>
                                    </div>

                                </div>

                                <button class="eye-float" onclick="showDescription(this)">
                                    <i class="bi bi-eye-fill"></i>
                                    <i class="bi bi-eye-slash-fill"></i>
                                </button>

                            </div>
                        {% endfor %}

                        <div class="non-image">
                            <img src="{% static 'img/utils/non_file.svg' %}" alt="Imagen de que no existen archivos">
                            <h5 style="text-align: center;">No hay Proyectos creados, <a href="" data-bs-toggle="modal" data-bs-target="#add_project">¿Deseas agregar un proyecto?</a></h5>
                            <a style="font-size: 13px;" href="https://www.freepik.es/vector-gratis/agregar-ilustracion-concepto-archivos_5461692.htm">Imagen de freepik</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    <div id="bodyAlertPlaceholder"></div>
    </div>
{% endblock %}

<!-- Modal's -->

{% block modals %}
    <!-- Modal SUBIR ARCHIVOS RÁPIDO ------------------------------------------------------------>


    <div class="modal fade" id="añadir_manual" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">

                <div class="modal-header">
                    <div class="d-flex flex-column align-items-start">
                        <h1 class="modal-title fs-3" id="staticBackdropLabel">Archivos subidos</h1>
                        <small class="text-center">formato permitido: .bib</small>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body scroll-styled" id="drop-zone">

                    <div class="blur"><p>Arrastre archivos aquí</p></div>

                    <div class="container text-center">
                        <form class="custom-form" method="post" id="form-files" action="." enctype="multipart/form-data">
                            <div id="file-list" class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">

                                    <div class="col add-file">
                                        <div id="add-file-button" class="square">
    
                                            <div class="img-file">
                                                <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="256px" height="256px" viewBox="0 0 45.40 45.40" xml:space="preserve" stroke="#000000" stroke-width="0.00045402" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="1.36206"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141 c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27 c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435 c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z"></path> </g> </g></svg>
                                            </div>
    
                                        </div>
                                        <div class="text">Subir archivo o arrastrar aquí</div>
                                        <input type="file" id="file-input" hidden name="files[]" accept=".bib" multiple>
                                    </div>
    
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="info-files">
                    <p>Peso a subir: <strong>0.0 MB</strong></p>
                </div>

                <div class="modal-footer d-flex justify-content-center">

                    <button type="button" class="btn btn-secondary col-lg-2" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn_primary col-lg-3" data-project-url="{% url 'fast_process' %}" id="btn-send-files">Procesar</button>

                </div>

            </div>
        </div>
        <div id="modalAlertPlaceholder"></div>

    </div>







    <!-- Modal CREAR Proyecto  -------------------------------------------------------------------------->
    <div class="modal fade" id="add_project" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <i class="bi bi-folder-plus"></i>
                <h1 class="modal-title fs-3" id="staticBackdropLabel">Nuevo Proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <div class="modal-body d-flex justify-content-center">

                <div class="col col-11">
                    <form action="{% url 'create_project' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-floating mt-3 mb-3">
                            <input name="prj_name" type="text" class="form-control" id="titleProject" minlength="10" maxlength="50" required placeholder="Nombre del proyecto">
                            <label for="titleProject">Nombre del proyecto</label>
                        </div>
    
                        <div class="form-floating mt-3 mb-3">
                            <textarea name="prj_description" class="form-control" placeholder="Dale una descripción a tu proyecto" id="textProject" style="height: 100px"></textarea>
                            <label for="textProject">Descripción de proyecto</label>
                        </div>
                        
                        <button hidden id="submit-btn" type="submit"></button>
                    </form>
                </div>


            </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary col-3" onclick="createProject()">Crear</button>
            </div>
        </div>
        </div>
    </div>







    <!-- Modal PARA ELIMINAR UN PROYECTO --------------------------------------------------------->
    <div class="modal fade" id="delete-project" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">

                <i class="bi bi-folder-x"></i>
                <h1 class="modal-title fs-4" id="exampleModalLabel">Eliminar proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <div class="modal-body">
                <p>¿Estás seguro de eliminar el proyecto <span id="project-name"></span>?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                {% csrf_token %}
                <button type="button" class="btn btn-primary" id="delete-project-id" data-project-url="" data-project-id="" onclick="deleteProject(this)">Eliminar</button>
            </div>
        </div>
        </div>
    </div>


    <!-- Modal PARA PROYECTOS AUTOGUARDADOS --------------------------------------------------------->

    <div class="modal fade" id="modal-autosave" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">

                <i class="bi bi-archive"></i>
                <h1 class="modal-title fs-4" id="exampleModalLabel">Proyectos autoguardados</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <div class="modal-body">

                <div class="info-autosave">
                    <img src="{% static 'img/utils/autosave.svg' %}" alt="Persona pensando">
                    <a href="https://www.freepik.es/vector-gratis/dibujado-mano-ilustracion-datos_49639856.htm">Imagen de freepik</a>

                    <p>Tienes proyectos no guardados. Los puedes guardar dando click en el <strong>botón verde
                        con el visto</strong> o si deseas eliminarlo: darle click en el <strong>botón rojo con un tachito de basura</strong>:</p>

                    <p>Tienes proyectos no guardados. Para guardarlos, solo escoge de las opciones
                        si "<strong>guardar</strong>" o si deseas eliminarlo: presionar sobre "<strong>Eliminar</strong>".</p>
                </div>



                <div class="info-guide">
                    <img src="{% static 'img/utils/autosave_guide.png' %}" alt="Guía de botones, verde para guardar y rojo para eliminar.">
                    <img src="{% static 'img/utils/autosave_guide_cell.png' %}" alt="Guía de botones, verde para guardar y rojo para eliminar.">
                </div>


            </div>

            <div class="modal-footer">
{#                <button type="button" class="btn btn-primary">No volver a mostrar</button>#}
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
        </div>
    </div>


    <div class="blur-shadow">
        <span class="loader"></span>
    </div>

{% endblock modals %}

{% block js %}
    <script src="{% static "js/menu.js" %}"></script>
    <script src="{% static "js/list_projects.js" %}"></script>
{% endblock js %}